<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>bluemix-java-twitter-influence-analyzer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>Calculates the Influencer information</description>
		<display-name>DispCalc</display-name>
		<servlet-name>DispCalc</servlet-name>
		<servlet-class>com.sampleapp.web.DispCalc</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispCalc</servlet-name>
		<url-pattern>/TwitterInfluenceAnalyzer/DispCalc</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SaveData</display-name>
		<servlet-name>SaveData</servlet-name>
		<servlet-class>com.sampleapp.db.SaveData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveData</servlet-name>
		<url-pattern>/TwitterInfluenceAnalyzer/SaveData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DisplayAll</display-name>
		<servlet-name>DisplayAll</servlet-name>
		<servlet-class>com.sampleapp.db.DisplayAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayAll</servlet-name>
		<url-pattern>/TwitterInfluenceAnalyzer/DisplayAll</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DelSelected</display-name>
		<servlet-name>DelSelected</servlet-name>
		<servlet-class>com.sampleapp.db.DelSelected</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelSelected</servlet-name>
		<url-pattern>/TwitterInfluenceAnalyzer/DelSelected</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ClearAll</display-name>
		<servlet-name>ClearAll</servlet-name>
		<servlet-class>com.sampleapp.db.ClearAll</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClearAll</servlet-name>
		<url-pattern>/TwitterInfluenceAnalyzer/ClearAll</url-pattern>
	</servlet-mapping>
</web-app>
